div#Cover {
    user-select: none;
    position: absolute;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.8;
    z-index: 1;
}
div#Cover.hide {
    animation: 1s ease-in forwards anim_hide;
}
@keyframes anim_hide {
    to {
        opacity: 0;
    }
    100% {
        visibility: hidden;
    }
}
body {
    margin: 0px;
    background-color: #F29918;
}
#Overlay {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    animation: 0.6s ease-in forwards anim_appear;
 /*   opacity: 0; */
    transform: translate(-50%, -50%) scale(0.0001) ;
    width: 300px;
    height: 400px;
    box-shadow: 0px 0px 30px 0px black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2E86AB;
    
}
#Overlay p {
    display: inline-block;
    max-width: 250px;
}
#Overlay button {
    height: 2em;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
    background-color: #D9DCD6;
}
#Overlay button:hover {
    cursor: pointer;
}
#Overlay button:focus {
    box-shadow: 0 0 3pt 2pt #212121;
    outline: none;
}
@keyframes anim_appear {
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
div#Overlay img {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border-radius: 50%;
}

@keyframes anim_disappear {
    to {
        transform: translate(-50%, -50%) scale(0.0001);
    }
    100% {
        display: none;
    }
}
div#Overlay.hide {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    animation: 0.6s ease-in forwards anim_disappear;
}

nav {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
nav .card {
    margin: 20px;
    width: auto;
    height: auto;
    padding: 15px 15px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px black;
}
nav .card:active {
    box-shadow: 0 0 20px 1px black inset;
}
nav .card:hover {
    cursor: pointer;
}
nav .card img {
    width: 150px;
}